[package]
name = "cedar-policy-formatter"
version = "3.2.1"
edition = "2021"
rust-version = "1.76.0"                                         # minimum supported Rust version is currently 1.76.0 because `cedar-policy-core` requirement. Check with `cargo install cargo-msrv && cargo msrv --min 1.75.0`
license = "Apache-2.0"
categories = ["compilers", "config"]
description = "Policy formatter for the Cedar Policy Language."
keywords = ["cedar", "authorization", "policy", "security"]
homepage = "https://cedarpolicy.com"
repository = "https://github.com/cedar-policy/cedar"

[dependencies]
cedar-policy-core = { version = "=3.2.1", path = "../cedar-policy-core" }
pretty = "0.12.1"
logos = "0.14.0"
itertools = "0.12"
smol_str = { version = "0.2", features = ["serde"] }
regex = { version = "1.9.1", features = ["unicode"] }
miette = { version = "7.1.0" }

[dev-dependencies]
insta = { version = "1.38.0", features = ["glob"] }
