[package]
name = "cedar-policy-formatter"
version = "2.0.0"
edition = "2021"
license-file = "../LICENSE"
categories = ["compilers", "config"]
description = "Policy formatter for the Cedar Policy Language."
keywords = ["cedar", "authorization", "policy", "security"]
homepage = "https://cedarpolicy.com"
repository = "https://github.com/cedar/cedar-policy"

[dependencies]
cedar-policy-core = { version = "2.0", path = "../cedar-policy-core" }
pretty = "0.11"
clap = { version = "3.2.16", features = ["derive"] }
anyhow = "1.0"
logos = "0.12.1"
itertools = "0.10"
smol_str = "0.1.23"
regex = { version= "1.8", features = ["unicode"] }
