[package]
name = "cedar-policy-core"
edition = "2021"
build = "build.rs"

version = "2.3.0"
license = "Apache-2.0"
categories = ["compilers", "config"]
description = "Core implemenation of the Cedar Policy language."
keywords = ["cedar", "authorization", "policy", "security"]
homepage = "https://cedarpolicy.com"
repository = "https://github.com/cedar-policy/cedar"

[dependencies]
serde = { version = "1.0", features = ["derive", "rc"] }
serde_with = { version = "3.0", features = ["json"] }
serde_json = "1.0"
lalrpop-util = { version = "0.19.12", features = ["lexer"] }
lazy_static = "1.4"
either = "1.8"
itertools = "0.10"
rustc_lexer = "0.1"
thiserror = "1.0"
smol_str = { version = "0.2", features = ["serde"] }
stacker = "0.1.15"
arbitrary = { version = "1", features = ["derive"], optional = true }
miette = "5.9.0"

# ipaddr extension requires ipnet
ipnet = { version = "2.5.0", optional = true }

# decimal extension requires regex
regex = { version = "1.8", features = ["unicode"], optional = true }
phf = { version = "0.11.2", features = ["macros"] }

[features]
# by default, enable all Cedar extensions
default = ["ipaddr", "decimal"]
ipaddr = ["dep:ipnet"]
decimal = ["dep:regex"]

# Enables `Arbitrary` implementations for several types in this crate
arbitrary = ["dep:arbitrary"]

[build-dependencies]
lalrpop = "0.19.12"

[dev-dependencies]
cool_asserts = "2.0"
