# Committing Cargo.lock is not recommended with CargoBrazil because it will cause double locking with your version set.
# https://builderhub.corp.amazon.com/blog/lockfiles-and-first-party-dependencies-in-rust-in-brazil/
Cargo.lock

# This is the directory where your brazil-build artifacts go.
/build

# In case you accidentally run cargo without brazil-build.
target/

# Don't check in the local rustup toolchain override.
/rust-toolchain.toml

# Don't check in the local metadata file.
.DS_Store
.idea

# Don't check in the Emacs temp files
*~

# Don't check in test framework files
.attach_pid*

# Don't check IntelliJ module files
*.iml
