[package]
name = "cedar-testing"
edition = "2021"

version = "3.0.0"
license = "Apache-2.0"
publish = false

[dependencies]
cedar-policy = { version = "=3.0.0", path = "../cedar-policy" }
cedar-policy-core = { version = "=3.0.0", path = "../cedar-policy-core" }
cedar-policy-validator = { version = "=3.0.0", path = "../cedar-policy-validator" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
smol_str = { version = "0.2", features = ["serde"] }
miette = { version = "7.1.0", features = ["fancy"] }

[dev-dependencies]
assert_cmd = "2.0"
tempfile = "3"