name: Build Downstream Dependencies

on:
  pull_request:

env: 
  CARGO_TERM_COLOR: always
jobs:
  cedar-drt:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: Checkout cedar-spec
        uses: actions/checkout@v3
        with:
          repository: cedar-policy/cedar-spec
          ref: main
          path: ./cedar-spec
          ssh-key: ${{ secrets.CEDARSPEC }}
      - name: checkout cedar
        uses: actions/checkout@v3
        with:
          path: cedar-spec/cedar
      - name: build cedar-drt
        working-directory: cedar-spec/cedar-drt
        run: |
              RUSTFLAGS="-D warnings" cargo build
              cargo test
      - name: build cedar-drt/fuzz
        working-directory: cedar-spec/cedar-drt/fuzz
        run: |
              RUSTFLAGS="--cfg=fuzzing -D warnings" cargo build
              cargo test

  cedar-java:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: Checkout cedar-java
        uses: actions/checkout@v3
        with:
          repository: cedar-policy/cedar-java
          ref: main
          path: ./cedar-java
          ssh-key: ${{ secrets.CEDARJAVA }}
      - name: checkout cedar
        uses: actions/checkout@v3
        with:
          path: cedar-java/cedar
      - name: build cedar-java/CedarJavaFFI
        working-directory: cedar-spec/cedar-java/CedarJavaFFI
        run: RUSTFLAGS="-D warnings" cargo build
      - name: build cedar-java/CedarJava
        working-directory: cedar-spec/cedar-java/CedarJava
        run: ./gradlew build
      

  cedar-examples:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: Checkout cedar-examples
        uses: actions/checkout@v3
        with:
          repository: cedar-policy/cedar-examples
          ref: main
          path: ./cedar-examples
          ssh-key: ${{ secrets.CEDAREXAMPLES }}
      - name: checkout cedar
        uses: actions/checkout@v3
        with:
          path: cedar-examples/cedar
      - name: build rust-hello-world
        working-directory: cedar-examples/cedar-rust-hello-world
        run: |
             printf "\npath = \"../cedar/cedar-policy\"" >> Cargo.toml
             cargo build
             cargo test
      - name: build tinytodo
        working-directory: cedar-examples/tinytodo
        run: |
             printf "\npath = \"../cedar/cedar-policy\"" >> Cargo.toml
             cargo build
             cargo test
      
      