name: Build and Test
on:
  workflow_call:
    inputs:
      collect_coverage:
        required: false
        default: false
        type: boolean
      retention-days:
        description: >
          Duration after which the uploaded coverage artifacts will expire in days, or 0 to use the default setting 
          for the repository.
        required: false
        default: "0"
        type: string

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable

    # Set `RUSTFLAGS` once for all cargo commands so that changing these flags
    # doesn't trigger a fresh build.
    env:
      RUSTFLAGS: '-D warnings -F unsafe-code'

    steps:
      - name: Check initialize disk space
        shell: bash
        run: df -h
      # Based on https://github.com/easimon/maximize-build-space
      - name: Free disk space
        shell: bash
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
      - name: Check final disk space
        shell: bash
        run: df -h
      - name: Set environment variables for coverage collection
        if: ${{ inputs.collect_coverage }} && ${{ matrix.toolchain }} == 'stable'
        shell: bash
        run: |
          echo "RUSTFLAGS=${RUSTFLAGS} -C instrument-coverage" >> $GITHUB_ENV
          echo "LLVM_PROFILE_FILE=cedar_%m_%p.profraw" >> $GITHUB_ENV

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - run: sudo apt-get update && sudo apt-get install protobuf-compiler
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo install cargo-audit --locked
      - run: ./panic_safety.sh
      - run: cargo doc --all-features --no-deps

      # Required to run cedar-symcc tests
      - name: Install cvc5
        shell: bash
        run: |
              ARCH=$(uname -m)
              if [ "$ARCH" = "x86_64" ]; then
                ARCH_NAME="x86_64"
              elif [ "$ARCH" = "aarch64" ] || [ "$ARCH" = "arm64" ]; then
                ARCH_NAME="arm64"
              else
                echo "Unsupported architecture: $ARCH"
                exit 1
              fi
              wget https://github.com/cvc5/cvc5/releases/download/cvc5-1.2.1/cvc5-Linux-${ARCH_NAME}-static.zip
              unzip cvc5-Linux-${ARCH_NAME}-static.zip
              chmod +x cvc5-Linux-${ARCH_NAME}-static/bin/cvc5
              echo "CVC5=$GITHUB_WORKSPACE/cvc5-Linux-${ARCH_NAME}-static/bin/cvc5" >> $GITHUB_ENV

      # All targets are run with the same `RUSTFLAGS
      - run: cargo build --verbose
      - run: cargo test --verbose
      - run: cargo test --verbose --benches
      - run: cargo test --verbose --no-default-features
      - run: cargo build --verbose --features "experimental"
      - run: cargo test --verbose --features "experimental"
      - run: cargo audit --deny warnings # For some reason this hangs if you don't cargo build first

      - name: Create a coverage report
        if: ${{ inputs.collect_coverage }} && ${{ matrix.toolchain }} == 'stable'
        uses: ./.github/actions/create_coverage_reports
        with:
          retention-days: ${{ inputs.retention-days }}

  # Clippy in its own job so that the `RUSTFLAGS` set for `build_and_test`
  # don't effect it. As a side effect, this will run in parallel, saving some
  # time.
  clippy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - run: sudo apt-get update && sudo apt-get install protobuf-compiler
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup component add clippy
      # Clippy is configured by `.cargo/config.toml` to deny on lints like
      # `unwrap_used`. They aren't detected by `panic_safety.sh` which only
      # looks for comments where we've added an `allow` directive for clippy.
      - run: cargo clippy --all-features

  # Run `cargo fmt` independently so that tests are executed even if you forgot
  # to format before pushing.
  format:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup component add rustfmt
      - run: cargo fmt --all --check

  cargo-deny:
    name: cargo deny
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: EmbarkStudios/cargo-deny-action@f2ba7abc2abebaf185c833c3961145a3c275caad # v2.0.13

  # See https://doc.rust-lang.org/cargo/guide/continuous-integration.html#verifying-rust-version
  msrv:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
    - uses: taiki-e/install-action@fe18b65ff0d7a76aced2f43aeace5de8f236b1f7 # cargo-hack
    - run: sudo apt-get update && sudo apt-get install protobuf-compiler
    - run: cargo hack check --rust-version --workspace --all-targets --ignore-private --all-features

  wasm-build:
    name: run wasm build script
    strategy:
      matrix:
        os: [ubuntu-latest, macos-15-intel, macos-latest]
    runs-on: ${{ matrix.os }}

    env:
      RUSTFLAGS: '-D warnings -F unsafe-code'

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: update llvm (macOS)
        if: ${{ matrix.os  == 'macos-15-intel' }}
        run: brew install llvm && echo "/usr/local/opt/llvm/bin" >> $GITHUB_PATH
      - name: update llvm (macOSarm64)
        if: ${{ matrix.os  == 'macos-latest' }}
        run: brew install llvm && echo "/opt/homebrew/opt/llvm/bin" >> $GITHUB_PATH
      - name: install typescript
        if: ${{ matrix.os  != 'ubuntu-latest' }}
        run: npm install -g typescript
      - name: install wasm-pack
        run: cargo install wasm-pack
      - name: build wasm and test build
        run: cd ./cedar-wasm && TEST_TS=1 ./build-wasm.sh
