name: Cargo Build & Test

on:
  pull_request:

env: 
  CARGO_TERM_COLOR: always
jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v3
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo fmt --all --check
      - run: RUSTFLAGS="-D warnings -F unsafe-code" cargo build --verbose --features "experimental"
      - run: RUSTFLAGS="-D warnings -F unsafe-code" cargo build --verbose
      - run: cargo test --verbose
      - run: cargo clippy
      - run: ./panic_safety.sh
      - run: cargo test --verbose -- --ignored
      - run: cargo bench --no-run
      - run: cd cedar-policy ; cargo test --no-default-features --verbose
      - run: cd cedar-policy-cli ; cargo test --no-default-features --verbose
      - run: cd cedar-policy-core ; cargo test --no-default-features --verbose
      - run: cd cedar-policy-formatter ; cargo test --no-default-features --verbose
      - run: cd cedar-policy-validator ; cargo test --no-default-features --verbose
  
  cargo_audit:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v3
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo install cargo-audit
      - run: cargo audit --deny warnings
